.titles select#cars {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

header.home-header.titles nav p {
  display: flex;
}

.titles select:focus-visible {
  border: none;
  box-shadow: none;
  outline: none;
}

.home_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_profile .home-img-text {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.home_profile .home-img-text .home-img {
  position: relative;
  top: 0px;
}
.home_profile .home-img-text .home-img img {
  max-width: 60px;
  top: 0;
  border-radius: 0;
  object-fit: cover;
  height: 60px;
  margin-right: 3px;
}
.titlepage .home_profile .home-img-text .home-img img {
  border-radius: 50% !important;
}
.home_profile .home-head {
  margin-left: 4px;
  margin-top: 2px;
  text-transform: uppercase;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
}
.home_profile .home-head h2 {
  text-align: left;
  margin: 0;
  font-size: 18px;
  margin-top: 2px;
  padding-bottom: 5px;
}
.home_profile .home-head.titles h2 {
  border-bottom: 1px solid;
  color: #777;
}
.home_profile .home-head .content_botom {
  display: flex;
  margin-top: 2px;
}
.home_profile .home-head .content_botom img {
  width: 100%;
  max-width: 27px;
}
.home_profile .home-head .content_bottom span {
  margin-top: 4px;
  margin-left: 4px;
  font-weight: 600;
}
.text {
  margin-top: 4px;
  margin-left: 4px;
  font-weight: 600;
  text-transform: initial;
}
.title_mains {
  padding: 12px 0;
  height: calc(100vh - 160px);
  overflow: auto;
}

.title_mains h4 {
  margin: 0;
  text-align: left;
}
.titles_top {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid;
  width: 100%;
  margin-bottom: 5px;
}
.titles_top svg {
  width: 100%;
  max-width: 80px;
  height: 60px;
  margin-right: 10px;
}
.titles_top h4 {
  top: -8px;
  position: relative;
}
.content_botom svg {
  width: 100%;
  max-width: 23px;
  height: 23px;
}
.top-bottom {
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding: 0 15px 20px;
}
header nav .header-icon.active svg path {
  fill: #8d784e;
}
p.d-flex.selects_options {
  align-items: center;
  flex: 0 0 60%;
}
.selects_options .css-b62m3t-container {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}
header.home-header.titles nav p {
  color: #000;
}

.locations_pages h2 {
  border-bottom: 1px solid !important;
}

.locations_pages.titlepage h2 {
  border-bottom: 0px solid !important;
}
.locations_pages .content_botom svg path {
  fill: #595959;
}
.locations_pages .home_profile .home-head .content_botom span {
  color: #777;
}
.locations_pages .content_botom svg {
  max-width: 30px;
  height: 30px;
  width: 30px;
}
.locations_pages .home_profile .home-head .content_botom {
  align-items: center;
}

.home_profile .content_botom {
  display: flex;
  margin-top: 2px;
  align-items: center;
}
.imgBags {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home-img-text.cursor-point {
  width: 100%;
}
.content_botom svg {
  width: 100%;
  max-width: 23px;
  height: 23px;
}
.tabsProfiles path {
  fill: #777;
}

.titlepage .home_profile .home-head {
  width: inherit;
  max-width: inherit;
  flex: inherit;
}
