p.refer .power_icon {
  height: 18px;
  width: 10px;
  position: relative;
  top: 3px;
  margin-left: 5px;
}
p.refer {
  font-size: 12.5px;
  text-align: left;
  margin: 0 0 5px;
  line-height: 19px;
  background: #c9bf9a75;
  padding: 7px 7px;
  border-radius: 4px;
}
