.videos {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 220px);
  .video_box {
    background-color: #acadac;
    padding: 0px;
    position: relative;
    height: 150px;
    margin: 3px 2px;
    width: 32%;
    display: inline-block;
    line-height: 100px;
    position: relative;
    cursor: pointer;

    .vid {
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img_text_video {
      position: absolute;
      bottom: 10px;
      line-height: 0;
      display: flex;
      align-items: center;
      left: 10px;

      img {
        width: 100%;
        max-width: 20px;
        background-color: #fff;
        border-radius: 20px;
        padding: 4px;
        margin-right: 5px;
      }

      span {
        color: #fff;
      }
    }
  }
}

.videos .video_box .vid img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 480px) {
  .videos {
    height: 100%;
    min-height: 100%;
    overflow: inherit;
  }
}
