.ReactModal__Content.ReactModal__Content--after-open {
  padding: 20px 0;
  inset: 10px !important;
}
.close_button {
  position: absolute;
  top: 0;
  right: 0;
  background: #681d1d;
  color: #fff;
  border: none;
  padding: 4px 10px;
}

.emm_modal {
  position: absolute;
  inset: 10px !important;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.rejected_title {
  text-align: center;
}

.rejected_btn {
  background-color: #681d1e;
  color: #fff;
  border: 1px solid #681d1e;
  padding: 4px 10px;
  border-radius: 5px;
}

.cancel_btn {
  border: 1px solid #681d1e;
  margin: 0 10px;
  height: 32px;
  padding: 0 15px;
  border-radius: 5px;
}
.cancel1_btn {
  background-color: transparent;
  border: 1px solid #681d1e;
  margin: 0 10px;
  height: 32px;
  padding: 0 15px;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .emm_modal {
    width: 100% !important;
    max-width: 80% !important;
  }
}
