.flex_group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribeBtn {
  background: #681d1d;
  color: #fff;
  margin-top: 20px;
  border: none;
  text-transform: capitalize;
  padding: 7px 11px;
  border-radius: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.subscribedBtn {
  background: #246f12;
  color: #fff;
  margin-top: 20px;
  border: none;
  text-transform: capitalize;
  padding: 7px 11px;
  border-radius: 22px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    fill: #fff;
    margin-right: 3px;
  }
}
