span.commonIcon {
  background: #661e1d;
  width: 20px;
  display: inline-block;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 17px;
  position: absolute;
  bottom: 0px;
  right: -1px;
  cursor: pointer;
}
