.spent_parent {
  .search {
    position: relative;
    height: 30px;
  }

  .center {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .center span {
    font-size: 20px;
    font-weight: 800;
    color: #681d1d;
  }

  .center div:nth-child(2) {
    font-size: 22px;
    font-weight: 800;
    color: #681d1d;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .spents .videos .video_box .vid img {
    border: 0px solid #fff;
  }
  .spents .videos .video_box {
    background-color: #acadac;
    padding: 0px;
    position: relative;
    height: 150px;
    margin: 3px 2px;
    width: 32%;
    display: inline-block;
  }

  // .box {
  //     width: 100% !important;
  // }
  .videos .video_box .vid img {
    height: 150px;
    // width: 31%;
    object-fit: cover;
  }
  .videos {
    margin-top: 12px;
    display: inline-block;
    width: 100%;
    height: calc(100vh - 220px);
    // height: 100%;
    overflow: auto;
    text-align: left;
  }

  .icon {
    height: 50px;
    width: 50px;

    border-radius: 25px;
  }
  .img_box {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 8px;
  }

  .number {
    background: #681d1d;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    color: #fff;
  }

  .img_boxs {
    position: relative;
  }
  // .spents .videos {
  //   margin-top: 0;
  //   height: calc(100% - 220px);
  // }

  // .spents .videos {
  // margin-top: 0;
  // height: auto;
  // display: flex;
  // flex-wrap: wrap;

  // justify-content: space-around;
  // }

  .img_text_video {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .search img {
    width: 100%;
    max-width: 20px;
    top: -20px;
    position: relative;
    left: -80px;
  }
  .search input {
    width: 100%;
    border: none;
    font-weight: 600;
    padding: 3px 5px 3px 30px;
    margin-top: 5px;
    background-image: url("./../../assets/icons/icons-search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
  .search input:focus-visible {
    outline: none;
  }

  .spents .videos .progress_parent {
    z-index: 9;
    bottom: 20px;
    height: 40px !important;
  }
}

.ReactModal__Content.ReactModal__Content--after-open {
  padding: 20px 0;
  inset: 10px !important;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  background: #681d1d;
  color: #fff;
  border: none;
  padding: 4px 10px;
}
.emm_modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 100% !important;
  max-width: 50% !important;
}
@media only screen and (min-width: 480px) {
  .search img {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .search img {
    left: -10px;
  }
  .icon {
    height: 35px;
    width: 35px;
  }
  .emm_modal {
    width: 100% !important;
    max-width: 80% !important;
  }
}
